<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>URL SHORTENER</h1>
     <form action="/url" method="post">
        <div class="inputarea">
            <label for="url">Enter Your URL:</label>
            <input type="url" placeholder="https://example.com" name="originalurl" required>
        </div>
        
        <button type="submit">Generate URL</button>
        <p class="demo">Use: <em>https://shturl-app.vercel.app/url/{shorturl}</em></p>
    </form>
    <% if (locals.data) { %>
     <div class="showurl">
         <a href="https://shturl-app.vercel.app/url/<%= data %>" target="_blank">URL Generated: https://shturl-app.vercel.app/url/<%= data %></a>
        </div>
        <% } %>
<div class="tbl">
     <% if (locals.urls) { %>
        <table>
            <thead>
                <th>Sr. no.</th>
                <th>Shorturl</th>
                <th>Originalurl</th>
                <th>Visited</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                  <tr>
                    <th><%= index + 1 %></th>
                    <th><%= url.shorturl %></th>
                    <th><%= url.originalurl %></th>
                    <th><%= url.visitHistory.length %></th>
                  </tr>
                <% }) %>
            </tbody>
        </table>
      
     <% } %>
    </div>
</body>
</html>