<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Home</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: black;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1.3rem;
        }
        h1{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            max-width: 650px;
            margin: 3rem auto;
            min-width: 200px;
        }
        input, button{
            min-height: 50px;
            outline: none;
            font-size: 1.1rem;
            padding: 10px;
            margin: 1rem;
        }
        button{
            width: 50%;
            margin: auto;
            cursor: pointer;
        }
        table, th, tr{
            border: 1px solid red;
            border-collapse: collapse;
            padding: 10px;
            background-color: rgb(29, 43, 38);
            overflow: auto;
            max-width: 650px;
            margin: auto;
        }
        .tbl{
            /* max-width: 750px; */
            margin: 1rem auto;
        }
    </style>
</head>
<body>
    <h1>URL SHORTENER</h1>
     <form action="/api/v1/urlshortner" method="post">
        <label for="url">Enter Your URL:</label>
        <input type="url" placeholder="https://example.com" name="originalurl">
        <button type="submit">Generate URL</button>
     </form>
     <div>
        <% if (locals.data) { %>
         <p>URL Generated: http://localhost:5000/api/v1/urlshortner/<%= data %></p>
        <% } %>
     </div>
<div class="tbl">
     <% if (locals.urls) { %>
        <table>
            <thead>
                <th>Sr. no.</th>
                <th>Shorturl</th>
                <th>Originalurl</th>
                <th>Visited</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                  <tr>
                    <th><%= index + 1 %></th>
                    <th><%= url.shorturl %></th>
                    <th><%= url.originalurl %></th>
                    <th><%= url.visitHistory.length %></th>
                  </tr>
                <% }) %>
            </tbody>
        </table>
      
     <% } %>
    </div>
</body>
</html>